@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@layer utilities {
  @keyframes cloud-left-right {
    0% { transform: translateX(0); }
    50% { transform: translateX(60px); }
    100% { transform: translateX(0); }
  }

  .animate-cloud {
    animation: cloud-left-right 5s ease-in-out infinite;
  }

    @keyframes up-down {
    0% { transform: translateY(0); }
    50% { transform: translateY(60px); }
    100% { transform: translateY(0); }
  }

  .up-down {
    animation: up-down 5s ease-in-out infinite;
  }
}

